@import "~bootstrap/scss/variables";

//color
$black: #333333;
$body-bg: $white;
$body-color: $black;
$gray-500: #BDBDBD;
$gray-600: #828282;

$blue: #282696;
$blue-light: #09ABE4;

$blue-light-hover: #0096CB;

$primary: $blue;
$info: $blue-light;


//font
$font-weight-light:           300;
$font-weight-normal:         400;
$font-weight-semibold:        600;
$font-weight-bold:            700;

$font-weight-map: ('light': $font-weight-light, 'regular': $font-weight-normal, 'semibold': $font-weight-semibold, 'bold': $font-weight-bold);

$font-family-base: 'Lato';
$headings-font-family: $font-family-base;
$input-btn-font-family: $font-family-base;


// Links
//
// Style anchor elements.
$link-hover-decoration: none;

// Components

$border-radius: 0;

//transition

$sub-nav-transition: color .1s ease-in-out, background-color .1s ease-in-out;