@import "~bootstrap/scss/variables";

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1410px
);

//color
$black: #333333;
$body-bg: $white;
$body-color: $black;
$gray-500: #BDBDBD;
$gray-600: #828282;

$blue: #282696;
$blue-light: #09ABE4;

$blue-light-hover: #0096CB;

$primary: $blue;
$info: $blue-light;
$light: $white;

$theme-colors: (
        "white": $white,
);

//bg-content
$bg-content: linear-gradient(203.32deg, rgba(40, 38, 150, 0.98) 24.1%, #09ABE4 123.85%), url(/images/lgr.png) no-repeat center;
$bg-product-tile: #F2F2F2;


//font
$font-size-base: 1rem;
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * .875;
$font-size-xs: $font-size-base * .75;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$font-weight-map: ('light': $font-weight-light, 'regular': $font-weight-normal, 'semibold': $font-weight-semibold, 'bold': $font-weight-bold);

$font-family-base: 'Lato';
$headings-font-family: $font-family-base;
$input-btn-font-family: $font-family-base;


$line-height-lg: 1.8;
$line-height-sm: 1.2;


// Links
//
// Style anchor elements.
$link-hover-decoration: none;

// Components
$enable-shadows: true;

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;

$btn-padding-y: 1rem;
$btn-padding-x: .75rem;

$btn-focus-box-shadow: 0 4px 4px rgba(0, 0, 0, .25);

//transition
$sub-nav-transition: color .1s ease-in-out, background-color .1s ease-in-out;
$tile-product-transition: box-shadow .15s ease-in-out;

//shadow

$shadow-tile-product: 0px 4px 7px rgba(0, 0, 0, 0.15);