@import 'partials/index';

.header-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: get-spacer(5);
  @include media-breakpoint-down('sm') {
    margin-top: get-spacer(4);
  }

  &__icon-burger {
    display: none;
    padding-left: get-spacer(0);
    @include media-breakpoint-down('sm') {
      display: block;
    }

    svg {
      fill: $blue-light;

    }

    &:hover {
      svg {
        fill: $blue-light-hover;
      }
    }
  }

  &__logo {
    flex: 1 0 auto;

    &-image {
      @include media-breakpoint-down('sm') {
        width: 120px;
      }
    }
  }

  &__phone {
    flex: 0 0 auto;
    text-align: center;
    font-weight: $font-weight-semibold;
    @include font-size($h4-font-size);
    @include media-breakpoint-down('sm') {
      display: none;
    }

  }

  &__search-panel {
    flex: 1 0 auto;
    padding-left: get-spacer(5);
    @include media-breakpoint-down('md') {
      padding-left: get-spacer(3);
    }

    @include media-breakpoint-down('sm') {
      order: 1;
      @include make-col(12);
      padding-left: get-spacer(0);
      margin-top: get-spacer(4);
    }
  }

  &__user-group {
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    padding-left: get-spacer(5);
    @include media-breakpoint-down('lg') {
      flex-direction: column;
    }
    @include media-breakpoint-down('sm') {
      flex-direction: row;
      padding-left: get-spacer(3);
    }
  }


  &__user-block {
    @include font-size($font-size-sm);
    @include media-breakpoint-up('xl') {
      &:first-child {
        border-right: 1px solid $gray-600;
        padding-right: get-spacer(3);
      }
      &:last-child {
        padding-left: get-spacer(3);
      }
    }

    @include media-breakpoint-down('sm') {
      &:first-child {
        padding-right: get-spacer(3);
      }
    }
  }

  &__user-text {
    @include media-breakpoint-down('lg') {
      display: none;
    }
  }

  &__icon svg {
    margin-right: get-spacer(2);
  }
}