@import "partials/index";

.link {
  color: inherit;
  transition: color .15s ease-in-out;

  svg {
    transition: fill .15s ease-in-out;
  }

  &--gray {
    color: $gray-600;
    svg {
      fill: $gray-600;
    }
  }

  &:hover {
    color: $blue-light;

    svg {
      fill: $blue-light;
    }
  }
}