@import "./partials/index";

.main-content {
  margin-bottom: 100px;

  @include media-breakpoint-down('lg') {
    margin-bottom: 70px;
  }

  @include media-breakpoint-down('md') {
    margin-bottom: 45px;
  }

  @include media-breakpoint-down('sm') {
    margin-bottom: 21px;
  }

  &__title {
    @include font-size($h2-font-size);
    font-weight: $font-weight-semibold;
    margin-bottom: 40px;

    @include media-breakpoint-down('sm') {
      @include font-size($font-size-base);
      margin-bottom: 14px;
    }
  }

  &__button {
    width: 230px;
    @include media-breakpoint-down('sm') {
      width: 100%;
    }
  }

  &--mb3 {
    margin-bottom: get-spacer(3);
  }
}