@import "./partials/index";

.slider-presentation {
  margin-top: get-spacer(4);
  position: relative;
  &__content {
    display: flex;
    flex-wrap: wrap;
    height: 548px;
    @include media-breakpoint-down('md') {
      height: 480px;
    }
    @include media-breakpoint-down('sm') {
      height: 300px;
    }
    @include media-breakpoint-down('xs') {
      height: 239px;
    }
  }

  &__wrapper {
    @include make-col(5);
    background: $bg-content;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 26px 30px;

    @include media-breakpoint-down('lg') {
      @include make-col(6);
    }

    @include media-breakpoint-down('md') {
      @include make-col(7);
    }
    @include media-breakpoint-down('sm') {
      @include make-col(12);
    }
  }

  &__description {
    color: $white;
    margin-left: 19%;
    @include media-breakpoint-down('lg') {
      margin-left: 16%;
    }

    @include media-breakpoint-down('md') {
      margin-left: 14%;
    }
    @include media-breakpoint-down('sm') {
      margin: 0;
      width: 100%;
    }
  }

  &__image {
    @include make-col(7);
    background: no-repeat center;
    background-size: cover;
    @include media-breakpoint-down('lg') {
      @include make-col(6);
    }

    @include media-breakpoint-down('md') {
      @include make-col(5);
    }
    @include media-breakpoint-down('sm') {
      display: none;
    }
  }

  &__title {
    font-weight: $font-weight-semibold;
    @include font-size($h1-font-size);
    margin-bottom: get-spacer(4);
    line-height: $line-height-sm;
    @include media-breakpoint-down('sm') {
      font-size: 20px;
      line-height: 22px;
      margin-bottom: get-spacer(2);
    }
  }

  &__sub-title {
    font-weight: $font-weight-light;
    margin-bottom: get-spacer(4);
    @include font-size($font-size-base);
    @include media-breakpoint-down('sm') {
      @include font-size($font-size-sm);
      margin-bottom: get-spacer(3);
    }
  }


  &__control {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    top: 48%;

    &--next {
      right: 2%;
    }

    &--prev {
      left: 2%;
    }
  }
  &__pagination {
    position: absolute;
    z-index: 10;
    bottom: 11%;
    left: 9%;
    @include media-breakpoint-down('lg') {
      left: 10%;
    }

    @include media-breakpoint-down('md') {
      left: 10.5%;
    }
    @include media-breakpoint-down('sm') {
      display: none;
    }

    & > .swiper-pagination-bullet {
      margin-right: get-spacer(2);
      display: inline-block;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      border: 1px solid $white;
      cursor: pointer;

      &.swiper-pagination-bullet-active {
        background-color: $white;
      }
    }
  }
}